<h1><%= @restaurant.name %></h1>

<p>This restaurant is located in <%= @restaurant.address %></p>

<%= link_to 'Delete', restaurant_path(@restaurant), method: :delete, data: { confirm: "Are you sure?" } %>
